<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>OpenConnect GUI contributors</vendor>
  <action id="org.openconnectgui.manage">
    <description>Manage the OpenConnect GUI tunnel service</description>
    <message>Administrator authorization is required to install, repair or remove the VPN service</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/openconnect-gui/ocvpn-installer</annotate>
  </action>
</policyconfig>
